body {
    background-image: url(../../images/hero/background/line-1.svg);
    background-repeat: no-repeat;
    background-position: left 176px top -15.31px ;
    background-size: 256.68px 582.58px;
    
}

.header-menu-hamburguer {
    background-image: url(../../images/hero/burger-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 32px;
    height: 12px;
    left: 331px;
    top: 72px;

}

.header-image {
    position: absolute;
    width: 127.2px;
    height: 32px;
    left: 32px;
    top: 62px;

}