.container-main-error {
    height: 90vh;
    background-color: var(--primary-shade);
}

.main-image-error img {
    margin-top:40vh;
    
    width: 100%;
}

.main-descricao-error {
    color: var(--primary);

    font-weight: 700;
}