body {
    background-image: url(../images/hero/background/line-1.svg);
    background-repeat: no-repeat;
    background-position: left 176px top -15.31px;
    background-size: 256.68px 582.58px;

}

.container-header {
    display: flex;
    justify-content: space-between;

}


.header-checkbox {
    display: none;
}

.header-image {
    margin-left: 8.5vw;
    margin-top: 5.5vh;
    margin-bottom: 5.5vh;

}

.header-menu-hamburguer {
    display: block;
    position: relative;
    width: 32px;
    height: 12px;

    appearance: none;
    background: none;
    outline: none;
    border: none;

    cursor: pointer;


    margin-top: 7vh;
    margin-right: 8.5vw;

}

.header-menu-hamburguer::before,
.header-menu-hamburguer::after {
    content: '';
    position: absolute;
    background-color: var(--dark);
    width: 100%;
    height: .12em;
    transition: .5s ease;
    z-index: 100;

}

.header-menu-hamburguer::after {
    top: 100%;

}

.menu-itens {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 98;


    background-color: var(--dark);
    background-image: url(../images/menu-burger/line-menu.svg);
    background-repeat: no-repeat;
    background-position: left 36px top -5.31px;
    background-size: 456.68px 582.58px;

    transition: 0.5s;

}

.menu-itens.is-active {
    left: 0;
}

.menu-item {
    color: var(--shade-mobile-menu);
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    margin: 1em;

}

.menu-item:hover {
    color: var(--light);
}

.menu-item-lista li {
    margin-bottom: 2.8em;
}

.menu-item-first {
    margin-top: 18vh;
}

.menu-icons {
    margin: 15vh auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 5.5vh;
    opacity: 0.2;
}

.menu-icon {
    border: 1px solid var(--stroke-1);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    cursor: pointer;

}

.menu-icon:hover {
    background-color: var(--shade-mobile-menu);
    transition: .5s;
    border: 1px solid var(--light);
}

/* .menu-burg {
    margin-top: 7vh;
    margin-left: 35vw;
    display: flex;
    flex-direction: column;


    background-image: url(../images/menu-burger/line-menu.svg);
    background-repeat: no-repeat;
    background-position: left 66px top -15.31px;
    background-size: 456.68px 582.58px;

    background-color: var(--dark);
    position: absolute;
    bottom: 0vh;
    right: -100vw;
    height: 100vh;
    width: 100vw;
}



 */



#menu:checked~.header-label .header-menu-hamburguer.is-active::after {
    transform: rotate(225deg);
    top: 50%;
    background-color: var(--light);

}

#menu:checked~.header-label .header-menu-hamburguer.is-active::before {
    transform: rotate(-225deg);
    top: 50%;
    background-color: var(--light);
}