body {
    background-image: url(../images/hero/background/line-1.svg);
    background-repeat: no-repeat;
    background-position: left 176px top -15.31px;
    background-size: 256.68px 582.58px;

}

.container-header {
    display: flex;
}


.header-checkbox {
    display: none;
}

.header-menu-hamburguer {
    display: block;
    position: relative;
    width: 32px;
    height: 12px;

}

.header-menu-hamburguer::before,
.header-menu-hamburguer::after {
    content: '';
    position: absolute;
    background-color: var(--dark);
    width: 100%;
    height: .1em;
}

.header-menu-hamburguer::after {
    top: 100%;

}

.menu-burg {
    margin-top: 7vh;
    margin-left: 35vw;
}

.header-image {
    margin-left: 8.5vw;
    margin-top: 5.5vh;
    margin-bottom: 5.5vh;

}