
.main-titulo {

    color: var(--dark);
    

    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    margin-right: 4rem;
    margin-left: 8.5vw;

}

.main-descricao {
    color: var(--text-light-mode);

    margin-top: 2.2vh;
    margin-left: 8.5vw;
    margin-right: 4rem;
    margin-bottom: 5vh;
    

    font-style: normal;
    font-weight: 400;    
    line-height: 3.2vh;
    
}

.main-anchor {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--light);
    

    font-weight: 600;
    line-height: 22px;
    text-align: center;

    padding: 1.2em 2.2em;
    border-radius: .5em;
    margin-left: 8.5vw;
    
}

.main-image {    
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
   margin-top: -50vh;
    
}
