.main-titulo {
    
    color: var(--dark);
    position: absolute;
    height: 168px;
    left: 0%;
    right: 0%;
    top: calc(50% - 168px/2 - 220px);

    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    margin-right: 4rem;
    margin-left: 2rem;

}

.main-descricao {
    
}