.body-work-01 {
    background-image: none;

}

.main-work {
    height: 150vh;
    margin-bottom: 5vh;
}

.main-work-secondary {
    height: 125vh;
}

.work-main-image,
.work-main-image-05 {
    margin: 0;
    background-image: url(../images/work-screens/bg01-05.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    width: 100%;
    height: 400px;
    position: relative;


    text-align: center;
}

.work-main-image-02 {
    background-image: url(../images/work-screens/bg02.svg);
}

.work-main-image-03 {
    background-image: url(../images/work-screens/bg03.svg);
}

.work-main-image-04 {
    background-image: url(../images/work-screens/bg04.svg);

}

.container-contact-work {
    margin: 5vh 1vw;
    display: flex;
}

.contact-us-general-work {
    font-size: 16px;
    margin: 6.5vh 0vw;
    padding: 1em 7em;
    margin: 0 auto;

}

.work-button-featured {
    color: var(--light);
    background-color: var(--accent-3-shade);

    font-weight: 600;
    font-size: 9.9px;
    line-height: 13px;

    border-radius: 34px;
    border: none;

    padding: 1em 2em;

    text-decoration: none;

    position: absolute;
    left: 70px;
    top: 750px;



}

.work-button-featured:hover {

    background-color: var(--secondary);

    transition: .5s;
}

.secondary-titulo-general-light {
    color: var(--dark);

}

.container-secondary-text-work {
    margin: 1.5vh 22vw 0 12vw;
}

.secondary-descricao-general-work {
    margin: 2vh auto;
}

.navigation-arrow-work {
    margin-left: 12vw;


    height: 0em;
    width: 1.4em;
    border: 2px solid var(--dark);
}